
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
  margin: auto;
  padding-top: 40px;  
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  cursor: default; 
}

.legend {
	font-family: 'Raleway', sans-serif;
	fill: #333333;
}
			
.tooltip {
	fill: #333333;
}


input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  text-align: center;
  font: 14px;
  width: 60px;
}
.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
} 

button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }


path.slice{
	stroke-width:2px;
}
polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
} 
svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
